---
import Layout from '../layouts/Layout.astro';
import Image from 'astro/components/Image.astro';
import CartellBenvinguda from '../img/Cartell-benvinguda.webp';
import FeedNoticias from '../components/feedNoticias.jsx';

import mockData from '../data/mockData.json';

const results = mockData.results;
const news = mockData.news;
console.log(news.toString());
---

<Layout title="CB Rosella - Inici">
	<div class="flex justify-center cartell w-screen mx-auto px-4 lg:px-6">
		<Image loading={'eager'} src={CartellBenvinguda} alt={"Cartell de benvinguda a la web"} height={600}/>{console.log(news)}
	</div>
	<section class="container mx-auto px-4 lg:px-6">
		<h1 class=" text-4xl font-semibold">Últimes <span class=" text-redAlert">Notícies</span></h1>
		<FeedNoticias client:load news={news}></FeedNoticias>
	</section>
	<section class=" bg-gradient-to-b from-white from-0% via-slate-950 via-[3%] to-slate-950 shadow-md ">
		<div class="mx-auto container px-4 py-10 lg:px-6">
			<h1 class=" text-4xl font-semibold text-white">Últims <span class=" text-redAlert">Vídeos</span></h1>
			<!--EMBBEDED VIDEO -->
		</div>
	</section>
</Layout>

<style>
	
</style>
